name: master CI

on:
  pull_request:
    branches:
      - origin

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run golangci-lint
        uses: actions-contrib/golangci-lint@v1

  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: Run tests
        run: go mod tidy && go test ./...

      - name: Run tests with coverage
        run: go mod tidy && go test -race -coverprofile=coverage.txt -covermode=atomic ./...